In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("transactions.csv", usecols=["CONTRACTOR","STATUS","SUM"])
df

         CONTRACTOR    STATUS  SUM
0         Acme, Inc   WAITING  415
1     Umbrella, Inc   WAITING  646
2     Umbrella, Inc        OK  780
3     Umbrella, Inc  CANCELED  887
4     Umbrella, Inc        OK  255
...             ...       ...  ...
9995      Acme, Inc        OK  881
9996      Acme, Inc        OK  160
9997  Umbrella, Inc        OK  683
9998  Umbrella, Inc   WAITING  805
9999      Acme, Inc   WAITING  982

[10000 rows x 3 columns]

In [7]:
df[df["STATUS"] == "OK"].sort_values(by="SUM",ascending=False)[:3]

         CONTRACTOR STATUS     SUM
5085      Acme, Inc     OK  100500
4451  Umbrella, Inc     OK    1000
9266  Umbrella, Inc     OK     999

In [8]:
print(df[(df["STATUS"] == "OK") & (df["CONTRACTOR"] == "Umbrella, Inc")]["SUM"].sum())

925719